# Application
NODE_ENV=development
PORT=3001

# Database (MongoDB)
MONGODB_URI=mongodb://localhost:27017/parcel-routing

# Queue (Redis)
REDIS_URL=redis://localhost:6379

# Security
JWT_SECRET=development_secret_do_not_use_in_prod

CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

RESEND_API_KEY=re_123456789
